* {
    /*cursor: none;*/
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.navbar {
    background: black;
    color: white;
    margin: 0;
    padding: 5px;
    height: 100vh;
    width: 220px;
    float: left;
}
.logo {
    text-align: center;
    font-size: 50px;
}
.nav-button{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-button:hover{
    background: #2a2a2a;
}
.kibble-list{
    min-height: 100vh;
}